<div class="navbar navbar-toggleable-md navbar-inverse bg-success">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" routerLink="">Restaurant</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active" name="promocje">Promocje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/entree" routerLinkActive="active">Dania główne</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/soups" routerLinkActive="active">Zupy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/salads" routerLinkActive="active">Sałatki</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/desserts" routerLinkActive="active">Desery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/drinks" routerLinkActive="active">Napoje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Kontakt</a>
            </li>
        </ul>
    </div>
</div>
