<br>
<div class="container">
    <div class="row">
        <div class="col">
            <app-map-google></app-map-google>
        </div>
        <div class="col">
            <div class="pull-right">
                <h2 class="list-group-item-heading">Kontakt</h2>
                <hr>
                <ul>
                    <li class="list-group-item-text">00-111 Warszawa, ul. Ulica 1</li>
                    <li class="list-group-item-text">Email: abc@gmail.com</li>
                    <li class="list-group-item-text">Telefon: 666-555-444</li>
                </ul>
            </div>
        </div>
    </div>
</div>
